{% extends 'base.html' %}
{% block title %} Все товары на сайте{% endblock %}
{% block header %}Все товары на сайте{% endblock %}
{% block content %}
    <div class="container py-5">     
      <h1>Все товары на сайте</h1>
      
      {% for goods in page_obj %}
      <p><b>{{ goods.caption }}</b></p>      
        <ul>
          {% if goods.group %}
            <li>
              Группа: {{ goods.group.title }}
            </li>
          {% endif %}
        </ul>       

        <p> Всего на складе: {{ goods.quantity }} шт </p>
        <p> Цена: {{ goods.price}} рублей </p>
        <p> <b><a href=''>Добавить в корзину </a></b></p>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'goods/includes/paginator.html' %}
    </div>
{% endblock %} 