{% extends 'base.html' %}
{% block title %} Все товары на сайте{% endblock %}
{% block header %}Все товары на сайте{% endblock %}
{% block content %}
    <div class="container py-5">     
      <h1>Все товары на сайте</h1>
      
      {% for goods in page_obj %}
      <p><b>{{ goods.caption }}</b></p>      
        <ul>
          {% if goods.group %}
          {% for gr in goods.group.all %}
            <li>
              Группа: {{ gr.title }}
            </li>
            {%endfor%}
          {% endif %}
        </ul>       

        <p> Всего на складе: {{ goods.quantity }} шт </p>
        <p> Цена: {{ goods.price}} рублей </p>
        <p>
        {% if in_busket %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'goods:delete' goods.id %}" role="button"
        >
          Убрать из козины
        </a>
      {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'goods:add' goods.id %}" role="button"
          >
            Добавить в корзину
          </a>
       {% endif %}
      </p>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'goods/includes/paginator.html' %}
    </div>
{% endblock %} 